.main-wrapper {
    width: 100%;
    display: flex;
}

.view {
    max-width: 1240px;
    margin: auto;

    &__heading-wrapper {}

    &__heading-text {
        // color:black;
        font-family: "Segoe UI";
        font-weight: 300;

    }

    &__cart {}
}

.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.categories-list{
    height: 700px;
    width: 1320px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, min-content));
    grid-template-rows: 180px 180px 180px;
    grid-gap: 10px;
    grid-auto-flow: column dense;

    &__item{
        display: block;
    }

    &__item--1x2{
        grid-row-end: span 2
    }

    &__item--2x1{
        grid-column-end: span 2;
    }
}

.category-card{
    position: relative;

    &__poster{

    }
    &__title-container{}

    &__title-text{
        position: absolute;
        bottom: 0;
        left: 0;

    }
}
