.main-wrapper {
    width: 100%;
    display: flex;
}

.view {
    max-width: 1240px;
    margin: auto;

    &__heading-wrapper {}

    &__heading-text {
        // color:black;
        font-family: "Segoe UI";
        font-weight: 300;

    }

    &__cart {}
}

.categories-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 560px;
    width: 1400px;
    display: grid;
    grid-gap: 10px;

    grid-template-columns: repeat(auto-fill, minmax(230, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 180px 180px 180px;
    grid-auto-flow: dense;

    &__item{
        display: block;
       
    }
}

.category-card{
    position: relative;

    &__poster{

    }
    &__title-container{}

    &__title-text{
        position: absolute;
        bottom: 0;
        left: 0;

    }
}

.one-to-one{
    grid-column-end: 1;
    grid-row-end:1
}

.one-to-two{
    // grid-column-end: 1;
    grid-row-end: span 2
}
.two-to-one{
    grid-column-end: 2;
    grid-row-end:1
}